@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a asp-area="" asp-controller="Pais">Países</a></li>
        <li><a asp-area="" asp-controller="Fabricantes">Fabricantes</a></li>
        <li><a asp-area="" asp-controller="Productos">Productos</a></li>
    </ul>
</div>
